.member-card{
    margin-bottom: 30px;
}

.member-card img{
    height: 300px;
    object-fit: scale-down;
    padding: 5px;
}

.air{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}